html, body {
    overflow-x: hidden;
}

body {
    padding-top: 56px;
}

.text-white-50 {
    color: rgba(255, 255, 255, .5);
}

.bg-purple {
    background-color: var(--purple);
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.lh-100 {
    line-height: 1;
}

.lh-125 {
    line-height: 1.25;
}

.lh-150 {
    line-height: 1.5;
}

.card-deck .card {
    margin-bottom: 15px;
    transition: all 0.2s ease-in-out 0s;
}

.card-deck .card:hover {
    transform: scale(1.03);
    transition: all 0.2s ease-in-out 0s;
}

.card-deck .card .card-remove {
    position: absolute;
    right: 5px;
    color: #C0C0C0;
}

.card-deck .card .card-remove:hover {
    color: red;
}

.card-deck .card .card-footer .card-edit {
    text-align: right;
    margin-top: -25px;
}

#button-to-add {
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    left: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    z-index: 1000;
}

#button-to-add #button-add-img {
    width: 60px;
    height: 60px;
    transition: -webkit-filter .1s, -filter .1s;
    -webkit-filter: drop-shadow(1px 1px 1px #DCDCDC);
    filter: drop-shadow(1px 1px 1px #DCDCDC);
}

#button-to-add #button-add-img:hover {
    -webkit-filter: drop-shadow(3px 3px 3px #808080);
    filter: drop-shadow(3px 3px 3px #808080);
}

#button-to-top {
    display: inline-block;
    background-color: var(--purple);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button-to-top::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button-to-top:hover {
    cursor: pointer;
    background-color: #333;
}

#button-to-top:active {
    background-color: #555;
}

#button-to-top.show {
    opacity: 1;
    visibility: visible;
}

@media (min-width: 0) {
    .card-deck .card {
        flex: 0 0 calc(100% - 30px);
    }
}

@media (min-width: 576px) {
    .card-deck .card {
        flex: 0 0 calc(100% - 30px);
    }
}

@media (min-width: 768px) {
    .card-deck .card {
        flex: 0 0 calc(50% - 30px);
    }
}

@media (min-width: 992px) {
    .card-deck .card {
        flex: 0 0 calc(33.3333333333% - 30px);
    }
}

@media (min-width: 1200px) {
    .card-deck .card {
        flex: 0 0 calc(25% - 30px);
    }
}
